* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Beyaz arka plan */
    display: flex;
    justify-content: center;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.left-section, .right-section, .uploader-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Sol hizalama */
    width: 100%; /* Tam genişlik */
}

.left-section h2, .right-section h2 {
    font-size: 1.5rem;
    color: #6a3b0d;
    margin-bottom: 20px;
}

.main-image {
    max-width: 50%; /* Görüntüyü daha küçük yapmak için */
    margin: 0 20px 20px 0;
    border-radius: 8px;
    float: left; /* Görüntüyü sola alır */
}

.contact-info h3 {
    font-size: 1.3rem;
    color: #6a3b0d;
    margin-top: 20px;
}

.contact-info p {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.4;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.uploader-section h1 {
    font-size: 3rem;
    color: #6a3b0d;
    text-align: center;
}

.uploader-section .subtitle {
    font-size: 1.2rem;
    color: #6a3b0d;
    margin-bottom: 20px;
    text-align: center;
}

.uploader {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
}

.qr-code {
    max-width: 100px;
    margin: 0 auto 20px;
}

.right-section h2 {
    font-size: 1.3rem;
    color: #6a3b0d;
    margin-bottom: 15px;
}

.right-section p {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
}

.right-section strong {
    color: #6a3b0d;
}
