* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    display: flex;
    max-width: 1200px;
    padding: 20px;
}

.left, .center, .right {
    padding: 20px;
    flex: 1;
}

.left h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.left img {
    max-width: 100%;
    margin-bottom: 20px;
}

.contact-info h3 {
    font-size: 1.3rem;
    margin-top: 15px;
}

.contact-info p {
    margin-top: 10px;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.center h1 {
    font-size: 3rem;
    color: #6a3b0d;
}

.center .subtitle {
    font-size: 1.2rem;
    color: #6a3b0d;
    margin-bottom: 20px;
}

.uploader {
    /* Arka plan ve kenarlık kaldırıldı */
    background-color: transparent;
    border: none;
    text-align: center;
}

.uploader h2 {
    display: none; /* Başlık tamamen kaldırıldı */
}

.right img {
    max-width: 100px;
    margin-bottom: 20px;
}

.right h2 {
    font-size: 1.5rem;
    color: #6a3b0d;
    margin-bottom: 15px;
}

.right p {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
}

.right strong {
    color: #6a3b0d;
}
